/* Color palette(https://coolors.co/palette/000000-363946-696773-819595-b1b6a6):
    000000
    363946
    696773
    819595
    B1B6A6
*/

:root {
    --background-color: #363946;
    --primary-color: #819595;
}

* {
    color: #FFF;
}

body {
    background-color: var(--background-color);
    margin: 0%;
}

.navbar {
    background-color: var(--background-color);

}

.navbar-brand {
    color: #FFF;
}

.flex-container {
    background-color: var(--background-color);
    height: 60px;
    flex-flow: nowrap;
    padding: 10px;
}

.button {
    border-radius: 10px;
    background-color: rgb(135, 211, 209);
    font-size: large;
}

iframe {
    padding: 15px;
    border-radius: 30px;
}