body
{
    background-color: aqua;
    margin: 0%;
}

.flex-container
{
    background-color: aquamarine;
    height: 60px;
    flex-flow: nowrap;
    padding: 10px;
}   

.button
{   
    border-radius: 10px;
    background-color: rgb(135, 211, 209);
    font-size: large;
}
