* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    background-image: linear-gradient(to bottom, var(--secondary-col) 75px, #222 150px)
}

#scene {
    display: block;
    height: calc(100vh - 115px);
}

map {
    background-color: aquamarine;
    z-index: 100;
}