* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

body {
    background-image: linear-gradient(to bottom, #9c4444, #222 20%)
}

#scene {
    display: block;
    height: calc(100vh - 70px);
}

map {
    background-color: aquamarine;
    z-index: 100;
}
/* 
#scene > *:not(#schloss-container) {
    filter: blur(3px);
}   */