@import url("colors.css");

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

nav {
    padding: 5px 25px;
    background-color: var(--primary-col);
}