<!DOCTYPE html>
<link rel="stylesheet" href="/components/Szene_01_Gasse/scene01.css">
<!--<script type="module" src="/components/Szene_01_Gasse/index.js"></script>
-->
<html>
<body>
<div id="mydiv">
  <button id="inter">-|</button>
  <button id="backward">/\<p>|</p></button>
  <button id="forward">/\</button>
  <button id="show-map">(O)</button>
  <img src="/assets/images/Szene01/Theresienstraße_1.jpg" height="100%" id="background">
  <img src="/assets/images/Szene01/Passau_Stadtplan_Karte_Raster_mit_Beschriftung.png" id="map">
  <button id="leavebut">Verlassen</button>
</div>
</body>
</html>